<<<<<<< HEAD

body {
      font-family: 'Times New', sans-serif;
      font-size: 10px;
      font-weight: 700;
      font-style: italic;
      background-color: #ADD8E6;
}

h1 {
    font-size: 8px;
=======

body {
      font-family: 'Times New', sans-serif;
      font-weight: 700;
      font-style: italic;
      background-color: #ADD8E6;
}

h1 {
    text-align: center;
>>>>>>> 69/main
}